{{- define "headTpl" -}}
{{$.Scratch.Set "nav_active" "free-download"}}
{{- partial "head/preload-css" (dict "href" "https://download.pingcap.com/style/github-markdown.css") -}}
{{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
{{- partial "head/preload-css" (dict "href" "/css/download-tidb.css") -}}
{{ $.Scratch.Set "metaTitle" "TiDB" }}
{{- end -}}

{{- define "main" -}}
<div class="contact-us">
  <div class="download-tidb-banner">
    <div class="banner__container">
      <div class="tidb-logo">
        <img src="/images/tidb-logo.png" alt="TiDB logo" />
      </div>
      <div class="download-title">Download TiDB</div>
      <div class="banner-illustration">
        <img src="https://download.pingcap.com/images/download-tidb/banner-illustration.png" alt="Banner" />
      </div>
    </div>
  </div>
  <div class="download-container doc">
    <div class="tabs">

      <input id="tabProduction" type="radio" name="tabs" value="productionContent" checked>
      <label for="tabProduction" class="regular-weight-label">
        <span>Production</span>
      </label>

      <input id="tabDevelopment" type="radio" name="tabs" value="developmentContent">
      <label for="tabDevelopment" class="regular-weight-label">
        <span>Development</span>
      </label>

      <section id="productionContent">
        <div class="install-desc">
          <p>Install Instructions for Production Environment using:</p>
        </div>
        <div class="env-logos">
          <img src="https://download.pingcap.com/images/download-tidb/binary-logo.png" alt="Binary lgoo" />
          <img src="https://download.pingcap.com/images/download-tidb/tiup-logo.png" alt="Tiup logo" />
          <img src="https://download.pingcap.com/images/download-tidb/k8s-logo.png" alt="K8s logo" />
          <img src="https://download.pingcap.com/images/download-tidb/docker-logo.png" alt="Docker logo" />
          <img src="https://download.pingcap.com/images/download-tidb/aws-logo.png" alt="AWS logo" />
          <img src="https://download.pingcap.com/images/download-tidb/new-gcp-logo.png" alt="GCP logo" />
          <img src="https://download.pingcap.com/images/download-tidb/terraform-logo.png" alt="Terraform logo" />
        </div>
        <div style="max-width: 500px;">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create(

              {
                portalId: "4466002",
                formId: "77e7f071-13fd-4ebd-b8f0-7afc32fe1b6e"
              }
            );
          </script>
        </div>
      </section>

      <section id="developmentContent">
        <div class="install-desc">
          <p>Developer Local Install Instructions:</p>
        </div>
        <div class="archive download-tidb-archive">
          <div class="content markdown-body">
            {{ .Content }}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript" src="/js/doc.js"></script>
<script type="text/javascript" src="/js/anchor.js"></script>
{{- end -}}
