{{ $review_posts := .review_posts }}
<section>
    {{ if ne .type "devcon2020" }}
    <h2 class="section-title">往期回顾</h2>
    {{ else }}
    <h1 class="dc20-title">{{if .isCn }}往期回顾{{ else }}Highlights from previous DevCons{{end}}</h1>
    {{ end }}
    <div class="reviews-list">
        {{- range $idx, $i := $review_posts -}}
        <a href="{{ $i.link }}" class="review-item" target="{{ if $i.outbound }}_blank{{ end }}">
            <img class="lazy" data-original="{{ $i.image }}" src="/images/svgs/loader-spinner.svg" alt="{{ $i.alt }}" />
        </a>
        {{- end -}}
    </div>
</section>
