{{ $cardBg := .cardBg }}

<div class="record__list">
    {{- range $idx, $i := .records -}}
    <div class="record {{ if eq $cardBg "dark" }}card-dark-bg{{ end }}">
        <a href="{{ $i.link }}">
            {{- if $i.video -}}
                <div class="thumbnail">
                    <img class="j-video-btn cursor-pointer dark-cover" src="{{ $i.image }}" data-video="{{ $i.video }}"
                      data-tencent-video="{{ $i.tencent_video }}" alt="Cover" />
                    <div class="play-icon j-video-btn" data-video="{{ $i.video }}"
                      data-tencent-video="{{ $i.tencent_video }}"></div>
                </div>

                <p class="talk-title j-video-btn cursor-pointer dark-cover" src="{{ $i.image }}" data-video="{{ $i.video }}"
                    data-tencent-video="{{ $i.tencent_video }}">
                    {{ $i.title }}
                </p>
            {{- else if $i.image -}}
                <div class="thumbnail">
                    <img src="{{ $i.image }}" alt="Cover" />
                </div>

                <p class="talk-title">
                    {{ $i.title }}
                </p>
            {{- end -}}

        </a>
    </div>
    {{- end -}}
</div>

{{- partial "layout/video-on-modal.html" -}}