
<input id="beijingTab" type="radio" name="tabs" value="beijing-schedule" checked>
<label for="beijingTab" class="regular-weight-label">
    <span>北京</span>
</label>

<input id="shanghaiTab" type="radio" name="tabs" value="shanghai-schedule">
<label for="shanghaiTab" class="regular-weight-label">
    <span>上海</span>
</label>

<input id="chengduTab" type="radio" name="tabs" value="chengdu-schedule">
<label for="chengduTab" class="regular-weight-label">
    <span>成都</span>
</label>
<input id="shenzhenTab" type="radio" name="tabs" value="shenzhen-schedule">
<label for="shenzhenTab" class="regular-weight-label">
    <span>深圳</span>
</label>
<input id="wuhanTab" type="radio" name="tabs" value="wuhan-schedule">
<label for="wuhanTab" class="regular-weight-label">
    <span>武汉</span>
</label>
<input id="hangzhouTab" type="radio" name="tabs" value="hangzhou-schedule">
<label for="hangzhouTab" class="regular-weight-label">
    <span>杭州</span>
</label>