<div class="nav-tags" data-type="{{.type}}">
    {{- range $name, $taxonomy := .global.Site.Taxonomies.categories -}}
        <div class="category" data-tag="{{ $name }}">
            <a href="#{{ $name }}" class="tag" data-tag="{{ $name }}">
                <div class="category__icon">
                    {{- if eq $name "Engineering" -}}
                        <img src="/images/svgs/engineering-icon.svg" alt="Engineering icon" />
                    {{- end -}}
                    {{- if eq $name "HTAP" -}}
                        <img src="/images/svgs/htap-icon.svg" alt="HTAP icon" />
                    {{- end -}}
                    {{- if eq $name "MySQL-Scalability" -}}
                        <img src="/images/svgs/scalability-icon.svg" alt="Scalability icon" />
                    {{- end -}}
                    {{- if eq $name "Open-Source-Community" -}}
                        <img src="/images/svgs/open-source-icon.svg" alt="Open Source icon" />
                    {{- end -}}
                </div>
                <div class="category__content">
                    <div class="title">
                      {{- replace $name "-" " " -}}
                    </div>
                    {{- if eq $name "Engineering" -}}
                        <div class="summary">
                            Deep dive blog posts on TiDB’s design, inner workings, testing framework, and technical innovation.
                        </div>
                    {{- end -}}
                    {{- if eq $name "HTAP" -}}
                        <div class="summary">
                            How TiDB’s modular design enables a Hybrid Transactional and Analytical Processing (HTAP) architecture.
                        </div>
                    {{- end -}}
                    {{- if eq $name "MySQL-Scalability" -}}
                        <div class="summary">
                            Sharing our experience building TiDB’s MySQL compatible layer from scratch and its ongoing evolution.
                        </div>
                    {{- end -}}
                    {{- if eq $name "Open-Source-Community" -}}
                        <div class="summary">
                            Activities, events, and stories about the TiDB open source community.
                        </div>
                    {{- end -}}
                </div>
            </a>
        </div>
    {{end}}
</div>
