<div class="devcon-nav">
  <div class="devcon-nav__container container">
    <div class="activity-name">TiDB DevCon 2019</div>
    <div class="section-btns">
        <span class="schedule-btn">会议日程</span>
        <span class="instructor-btn">讲师介绍</span>
        <span class="contact-btn">参会地址</span>
    </div>
    <div class="section-burger">
        <i class="material-icons">{{ partial "svgs/icon-menu.svg" (dict "width" 16 "height" 16 ) }}</i>

        <div class="dropdown-btns">
            <p class="schedule-btn">会议日程</p>
            <p class="instructor-btn">讲师介绍</p>
            <p class="contact-btn">参会地址</p>
        </div>
    </div>
  </div>
</div>
