<div class="multi_slides_carousel">
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            {{- range $idx, $i := .moments_images -}}
                <div class="swiper-slide">
                    <img class="moment-img" src="{{ $i.image }}" alt="Activity moments" />
                </div>
            {{- end -}}
        </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            {{- range $idx, $i := .moments_images -}}
                <div class="swiper-slide">
                    <img class="moment-img" src="{{ $i.image }}" alt="Activity moments" />
                </div>
            {{- end -}}
        </div>
    </div>
</div>