{{- define "title" -}}
    TiDB engineering blog and updates
{{- end -}}

{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "blog"}}
    {{$.Scratch.Set "data_i18_link" "/blog-cn" }}
    {{- partial "head/preload-css" (dict "href" "/css/list.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/blog.css") -}}
    {{ $.Scratch.Set "metaTitle" "TiDB" }}
{{- end -}}

{{- define "main" -}}
    <div class="blog">
      <div class="blog__hugeTitle">
        <h1>TiDB and TiKV Blog
            <a class="rss" href="/blog/index.xml" title="RSS Feed">{{ partial "svgs/icon-rss.svg" (dict "fill" "#3A59F0" "width" 13 "height" 17 ) }}</a>
        </h1>
        <div class="guide">See TiDB Deployment Tutorials for: </div>
        <div class="tutorial-platform">
            <div class="PLogo"><a href="/docs/v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke/"><img src="/images/svgs/google-cloud.svg" alt="Goole cloud logo"/></a> </div>
            <div class="PLogo"><a href="/docs/dev/how-to/get-started/deploy-tidb-from-docker-compose/"><img src="/images/svgs/docker.svg" alt="Docker logo"/> </a> </div>  
            <div class="PLogo"><a href="/docs/v3.0/tidb-in-kubernetes/tidb-operator-overview/"><img src="/images/svgs/kubernetes.svg" alt="Kubernetes logo"/></a> </div> 
            <div class="PLogo"><a href="/docs/v3.0/tidb-in-kubernetes/deploy/aws-eks/"><img src="/images/aws.png" alt="AWS logo"/></a></div>  
            <div class="PLogo"><a href="/docs/v3.0/how-to/deploy/orchestrated/ansible/"><img src="/images/svgs/ansible.svg" alt="Ansible logo"/></a> </div>
        </div>
      </div>
      <div class="blog__container">
          {{ $posts := where (where .Site.Pages "Section" "blog") ".Params.title" "!=" nil }}
          {{- partial "navs/blog-category-nav.html" (dict "type" "blog-list" "posts" $posts "global" .) -}}
          <div class="blog__list">
              {{- partial "archives/list.html" (dict "posts" $posts.ByDate.Reverse "hasMetaData" "true" "hasBrief" "true" "global" . "listType" "blog") -}}
          </div>
          <div id="showMore">
              <p>- Show More Articles -</p>
          </div>
        <!-- {{- partial "archives/subscription.html" . -}} -->
      </div>
    </div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/doc.js"></script>
    <script type="text/javascript" src="/js/anchor.js"></script>
{{- end -}}
