{{- define "title" -}}
{{ $.Scratch.Set "metaTitle" "DevCon 2020" }}
DevCon 2020
{{- end -}}

{{- define "headTpl" -}}
{{ $.Scratch.Set "data_i18_cn" true }}
{{ $.Scratch.Set "nav_active" "community" }}
{{ $.Scratch.Set "data_i18_link" "/community/devcon2020" }}
{{- partial "head/preload-css" (dict "href" "/css/community/devcon2020.css") -}}
{{- partial "head/preload-css" (dict "href" "/css/community/hackathon2019.css") -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
<style type="text/css">
    .amap-logo,
    .amap-copyright {
        display: none !important;
    }

    .amap-icon img {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
</style>
{{- end -}}

{{- define "main" -}}
<div class="devCon devCon2020 devCon-cn">
    <div class="banner__section devcon2020-banner">
        <div class="sigup-btn" href="#sign-up" style="cursor: not-allowed;">
            活动已结束
        </div>
    </div>

    <section class="activity-breif">
        TiDB DevCon 是 PingCAP 团队面向 TiDB 社区推出的技术会议，每年在北京举办。本届 DevCon 在 6 月 6 ～ 7 日举办，以线上直播的方式，为大家展示 TiDB
        近一年的产品技术蜕变，分享最新的海内外生态进展，并邀请了来自全球的 80+ 位开发者、用户及合作伙伴，分享他们的实战经验和开源思考，覆盖金融、制造业、电信、电商、物流、能源、快消、新零售、云计算等多个领域。
    </section>

    <div class="agenda-wrapper">
        <div class="el-side1">
            <img src="/images/community/devcon2020/el-side.svg" />
        </div>
        <div class="el-side2">
            <img src="/images/community/devcon2020/el-side.svg" />
        </div>
        <div class="el-side3">
            <img src="/images/community/devcon2020/el-side.svg" />
        </div>
        <section class="dc20-agenda">
            <h1 class="dc20-title" id="dc20-agenda-table">会议日程</h1>
            <div class="dates">
                <div class="date date1 is-active">DAY 1 - 2020.06.06</div>
                <div class="date date2">DAY 2 - 2020.06.07</div>
            </div>

            <div class="venues">
                <div class="day1">
                    {{- range $idx, $i := .Site.Data.devcon.venues_2020.day1 -}}
                    <div class="venue-detail">
                        <div class="time">{{ $i.time }}</div>
                        {{- range $j := $i.venues -}}
                        <a class="venue" href="#{{ replace (replace $j.name "/" "-" ) " " "-" }}">
                            <img src="{{ $j.icon }}" alt="{{ $j.name }}">
                            <p class="{{ if $j.main }}large-size{{ end }}">{{ $j.name }}</p>
                        </a>
                        {{- end -}}
                    </div>
                    {{- end -}}
                </div>
                <div class="day2 hide-schedule">
                    {{- range $idx, $i := .Site.Data.devcon.venues_2020.day2 -}}
                    <div class="venue-detail">
                        <div class="time">{{ $i.time }}</div>
                        {{- range $j := $i.venues -}}
                        <a class="venue" href="#{{ replace (replace $j.name "/" "-" ) " " "-" }}">
                            <img src="{{ $j.icon }}" alt="{{ $j.name }}">
                            <p>{{ $j.name }}</p>
                        </a>
                        {{- end -}}
                    </div>
                    {{- end -}}
                </div>
            </div>
            {{- partial "community-cn/devcon2020-schedule-table.html" (dict "schedule" .Site.Data.devcon.devcon2020_day1_schedule "global" . "date" "day1" "isCn" "true") -}}

            {{- partial "community-cn/devcon2020-schedule-table.html" (dict "schedule" .Site.Data.devcon.devcon2020_day2_schedule "global" . "date" "day2" "isCn" "true") -}}

            <div class="switch-date-btn date2">DAY2 日程</div>
        </section>
    </div>

    <div class="tutor-members">
        <section>
            <h1 class="dc20-title">嘉宾介绍</h1>
            <div class="tutor-list">
                {{- range $idx, $i := .Site.Data.devcon.instructors_2020 -}}
                {{- if not $i.noAvatar -}}
                <div class="tutor">
                    <div class="tutor-avatar">
                        <img class="lazy" src="/images/svgs/loader-spinner.svg" data-original="{{ $i.avatar }}"
                            alt="Tutor avator" />
                    </div>
                    <div class="name">{{ $i.name }}</div>
                    <div class="title">{{ $i.company }} {{ if $i.title }}| {{ $i.title }}{{ end }}</div>
                </div>
                {{- end -}}
                {{- end -}}
            </div>
        </section>
    </div>

    <section class="support-medias">
        <h1 class="dc20-title">媒体/社区支持</h1>
        <div class="medias">
            {{- range $idx, $i := .Site.Data.devcon.support_meida2020 -}}
            <img class="lazy" src="/images/svgs/loader-spinner.svg" data-original="{{ $i }}" />
            {{- end -}}
        </div>
    </section>


    <!-- <div class="sign-up" id="sign-up">
        <section>
            <h1 class="dc20-title">立即报名</h1>
            <p>
                本届活动将采取线上直播的方式。扫描下方二维码填写报名表单。
            </p>
            <p>
                提交成功后即可加入「直播交流群」，</p>
            <p>
                所有现场资料都将在大会结束后，分享至群内～
            </p>
            <img class="lazy" src="/images/svgs/loader-spinner.svg"
                data-original="/images/community/devcon2020/qrCode.jpg" />
        </section>
    </div> -->

    <div class="reviews">
        {{- partial "community-cn/activities-review.html" (dict "review_posts" .Site.Data.devcon.reviews_2019 "type" "devcon2020") -}}
    </div>

    <section class="back-to-community-section">
        <a href="/community-cn/#activities">
            <button class="back-to-community">
                更多社区活动
            </button>
        </a>
    </section>
</div>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $('.lazy').lazyload({
        effect: 'fadeIn',
        threshold: 200
    })
</script>
<script type="text/javascript" src="/js/devcon.js"></script>
{{- end -}}
