{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "DevCon 2019" }}
    DevCon 2019
{{- end -}}

{{- define "headTpl" -}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{ $.Scratch.Set "nav_active" "community" }}
    {{ $.Scratch.Set "nav_active" "devcon2019" }}
    {{ $.Scratch.Set "data_i18_link" "/community/organization" }}
    {{- partial "head/preload-css" (dict "href" "/css/community/devcon2019.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/vendor/swiper.css") -}}
    <style type="text/css">
      .amap-logo,
      .amap-copyright {
        display: none !important;
      }

      .amap-icon img {
        width: 100%;
        height: 100%;
        overflow: visible;
      }
    </style>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/devcon.js"></script>
    <script type="text/javascript" src="/js/vendor/swiper.min.js"></script>
    <script type="text/javascript" src="/js/multi_slides_carousel.js"></script>
    <!-- Begin gao_de map -->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=5943f0161bc8beb9f40b4f652faf648f&callback=init"></script>
    <script type="text/javascript">
      function init() {
        var map = new AMap.Map('map', {
          zoomEnable: false,
          zoom: 15,
          center: [116.436266,39.980987],
          mapStyle: 'amap://styles/light' //样式URL
        })
        //添加点标记，并使用自己的icon
        new AMap.Marker({
          map: map,
          position: [116.436266,39.980987],
          icon: new AMap.Icon({
            size: new AMap.Size(32, 32), //图标大小
            image: '/images/svgs/location.svg'
          })
        })

        var info = []
        info.push('<div style="font-size: 13px;">中关村时尚产业创新园</div>')
        infoWindow= new AMap.InfoWindow({
          content: info.join('<br/>')
				});
				infoWindow.open(map, [116.437266,39.981987]);
      }
    </script>
    <!-- End bai_du map -->
{{- end -}}

{{- define "main" -}}
{{- partial "layout/devcon-nav.html" . -}}
<div class="devCon">
    <div class="banner__section devcon2019-banner"></div>
    
    <section class="agenda__section">
        <div class="content">
            <p>
              TiDB DevCon 是 PingCAP 团队面向 TiDB 社区推出的技术会议。
              本届 TiDB DevCon 2019 以 “Powered by Contributors” 为主题，聚焦 TiDB 项目核心技术的最新进展和未来规划，以及来自社区一线用户的最佳实践经验，展示 TiDB
              在海内外的最新动态。旨在帮助社区更好的理解 TiDB 的技术理念，汇总用户从技术选型到应用落地各阶段的实操中总结出的经验和坑，挖掘 TiDB 场景适配的更多可能性。
            </p>
        </div>
        <div class="video__section">
          <div class="container">
              <div class="video-wrapper">
                <video id="video" preload="auto" controls webkit-playsinline="true"  poster="https://download.pingcap.com/images/devcon2019-video-poster.jpg" playsinline="true">
                    <source src="https://download.pingcap.com/videos/DevCon2019-video.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' /> Your browser does not support the video tag.
                </video>
              </div>
              <p>
                  活动已结束，3 分钟快速回顾 TiDB DevCon 2019
              </p>
          </div>
        </div>
        <h1 class="section-title agenda-title">会议日程</h1>
        {{- partial "community-cn/schedule-table.html" (dict "schedule" .Site.Data.devcon.schedule_2019 "global" .) -}}
    </section>

    <section class="instructors__section section-dark-bg">
        <div class="instructors section-container">
            <h1 class="section-title">讲师介绍</h1>
            {{- partial "community-cn/instructors.html" (dict "instructors" .Site.Data.devcon.instructors_2019 "cardBg" "light") -}}
        </div>
    </section>

    <section class="sponsor__section">
      <div class="sponsors section-container">
        <h1 class="section-title">支持媒体</h1>
        <div class="sponsors__list">
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/geek.png" alt="Geek logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/csdn.png" alt="CSDN logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/kaiyuanzhongguo.png" alt="Kaiyuanzhongguo logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/segmentfault.png" alt="Segementfault logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/51cto.png" alt="51cto logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/juejin.png" alt="Juejin logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/dbaplus.png" alt="DBAplus logo"/>
            </div>
            <div class="sponsor">
              <img src="https://download.pingcap.com/images/sponsors/tgo.jpg" alt="TGO logo"/>
            </div>
        </div>
      </div>
    </section>

    <section class="contact__section section-dark-bg">
        <div class="contact section-container">
            <h1 class="section-title">参会地址</h1>
            <div class="address__guide">
                <div class="guide">地址 
                    <div class="guide-detail">北京市 朝阳区 樱花园东街甲 2 号 北京服装学院内 中关村时尚产业创新园 二层</div>
                </div>
                <div class="guide">驾车路线
                    <div class="guide-detail">导航搜索 “北京服装学院北 1 门”   校区内有<strong>收费</strong>停车场，停车位充足</div>
                </div>
                <div class="guide">地铁路线
                    <div class="guide-detail">13 号线 / 10 号线 芍药居站 A 西口出  步行 900 米，至北京服装学院北 1 门进入</div>
                </div>
                <div class="guide">提示
                    <div class="guide-detail">校区北 1 门设有门禁，我们会引导大家进入，请大家随身携带身份证。</div>
                </div>
            </div>
            <div id="map" class="map" style="width: clac(100% - 20px); height: 340px;"></div>
        </div>
    </section>

    <section class="section-dark-bg">
        <div class="section-container">
            <div class="container">
                <h2 class="section-title">精彩瞬间</h2>
                {{- partial "layout/multi_slides_carousel.html" (dict "moments_images" .Site.Data.devcon.moments_2019) -}}
            </div>
        </div>
    </section>


    <section class="hackathon-review">
        <div class="section-container">
            <h2 class="section-title">往期回顾</h2>
            {{- partial "community-cn/review-card.html" (dict "reviews" .Site.Data.devcon.reviews_2018) -}}
        </div>
    </section>

    <section class="back-to-community-section">
        <a href="/community-cn/#activities">
            <button class="back-to-community">
              更多社区活动
            </button>
        </a>
    </section>

    <!-- <div class="volunteer__section">
        <div class="volunteers section-container">
            <h1 class="title">志愿者招募</h1>
            <div class="recruit">
                本次大会面向社区技术爱好者，开放志愿者申请通道，参与活动现场支持。如果你想近距离接触技术大咖，体验会议氛围，那就联系 TiDB Robot（<span>微信号：tidbai</span>）报名吧～
                志愿者还可以获得 TiDB DevCon 2019 定制帽衫哦！
            </div>
            <div class="image">
                <img src="/images/community/volunteer.jpeg" />
            </div>
        </div>
    </div> -->

    <!-- <div class="signup__section">
            <div class="signup section-container">
                <h1 class="section-title">立即报名</h1>
                <div class="ticket-table">
                  <div class="signupEndBtns"><button type="button" disabled>活动已结束</button></div>
                  <div class="signupBtns"><a href="http://www.huodongxing.com/event/5471251664900?view=widget3" target="_blank"><button>标准注册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¥1970</button></a></div>
                  <div class="signupBtns"><a href="http://www.huodongxing.com/event/5471251664900?view=widget3" target="_blank"><button>社区贡献者注册 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¥0</button></a></div>
                    <iframe class="hdx-ticket" frameborder="0" style="width:100%; min-height:28rem;" allowtransparency="true" enableviewstate="true"
                      src="http://www.huodongxing.com/event/1470535653600?view=widget3" data-color="#3a58f0 ">
                      <script src='https://nscdn.huodongxing.com/Content/v2.0/dist/js/widget/widget.js'></script>
                    </iframe>
                  <div class="tips__container">
                    <h1>温馨提示</h1>
                    <ul>
                      <li>我们为教职人员和在校学生提供学术优惠票（票价 ¥499）：
                        <ul>
                          <li>申请材料：
                            <ul>
                              <li style="list-style: none;">- 教职人员：校园网站个人信息页截图（或教师资格证） + 本人身份证扫描件</li>
                              <li style="list-style: none;">- 在校学生：本人有效学生证 + 本人身份证扫描件</li>
                            </ul>
                          </li>
                          <li>请将申请材料发送到 <a href="mailto: langyuemeng@pingcap.com" style="color: #3A58F0;">langyuemeng@pingcap.com</a>，审核结果将通过邮件通知。</li>
                          <li>截止时间 1 月 17 日 18:00。</li>
                        </ul>
                      </li>
                      <li>TiDB 社区贡献者注册注意事项：
                        <ul>
                          <li>我们已经将社区贡献者专属【验证码】发送到大家在 GitHub 上的预留个人邮箱，请注意查收。如果没有收到，请联系 TiDB Robot（微信号：tidbai）。</li>
                          <li>填写报名表单时，务必填写 GitHub ID 和验证码，否则无法审核通过。</li>
                          <li>即日起至 1 月 17 日 18:00 时间段内的新晋 TiDB Contributors 也可以注册。</li>
                          <li>TiDB 社区贡献者即 GitHub 上以下 15 个 Repositories 的代码贡献者：
                            <div class="githubRepo">
                              <span><a href="https://github.com/pingcap/docs-cn">docs-cn</a></span>
                              <span><a href="https://github.com/pingcap/docs">docs</a></span>
                              <span><a href="https://github.com/pingcap/grpc-rs">grpc-rs</a></span>
                              <span><a href="https://github.com/pingcap/jepsen">jepsen</a></span>
                              <span><a href="https://github.com/pingcap/parser">parser</a> </span>
                              <span><a href="https://github.com/pingcap/pd">pd</a></span>
                              <span><a href="https://github.com/pingcap/tidb-ansible">tidb-ansible</a></span>
                              <span><a href="https://github.com/pingcap/tidb-bench">tidb-bench</a></span>
                              <span><a href="https://github.com/pingcap/tidb-docker-compose">tidb-docker-compose</a></span>
                              <span><a href="https://github.com/pingcap/tidb-operator">tidb-operator</a></span>
                              <span><a href="https://github.com/pingcap/tidb">tidb</a></span>
                              <span><a href="https://github.com/pingcap/tidb-tools">tidb-tools</a></span>
                              <span><a href="https://github.com/pingcap/tikv">tikv</a></span>
                              <span><a href="https://github.com/pingcap/tipb">tipb</a></span>
                              <span><a href="https://github.com/pingcap/tispark">tispark</a></span>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>发票说明：
                        <ul>
                          <li>如有发票需求，请发送申请邮件至 <a href="mailto: langyuemeng@pingcap.com" style="color: #3A58F0;">langyuemeng@pingcap.com</a>，我们将在会议结束后根据发票申请的时间顺序进行处理。如有特殊需求，请在邮件正文中注明。</li>
                          <li>邮件主题格式：【DevCon 发票申请】姓名-手机号（注意：姓名和手机号务必与报名时填写的信息一致）。</li>
                          <li>发票申请截止时间为 1 月 25 日 18:00。</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div> -->
</div>
{{- end -}}
