{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "TiDB Hacking Camp" }}
    TiDB Hacking Camp
{{- end -}}

{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "community"}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{ $.Scratch.Set "data_i18_link" "/community/events/hackathon2020" }}
    {{- partial "head/preload-css" (dict "href" "/css/community/hackathon2020.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/tidb-planet/modal.css") -}}
{{- end -}}

{{- define "main" -}}
<div class="hackathon2020">
    <section class="hacking-cam2021__banner">
	</section>

	<section class="hackathon2020__navbar navbar-sticky">
		<div class="container">
			<ul class="navbar">
				<li class="navbar__item">
					<a href="#about">关于 Hacking Camp</a>
				</li>
				<li class="navbar__item">
					<a href="#winners">第一期入围项目</a>
				</li>
				<li class="navbar__item">
					<a href="#timeline">Hacking Camp 时间线</a>
				</li>
				<li class="navbar__item">
					<a href="#partners">赞助合作</a>
				</li>
			</ul>
		</div>
	</section>

    <section class="hackathon2020__section hackathon2020__section-about">
		<h2 class="section__title" id="about">关于 Hacking Camp</h2>
		<div class="container">
			<p class="hackathon2020__intro">
				2021 年 1 月结束的 TiDB 黑客马拉松中诞生了许多明星项目，如 UDF、图数据库、文档自动纠错等等，为 TiDB 构建了丰富的生态和卓越的性能提升，令人不禁感叹「社区的力量」。
			</p>
			<p class="hackathon2020__intro">
				为了让这些项目能够真正落地，继续在社区中发光发热，TiDB 社区联合经纬中国计划在 2 月举办一个为期 8周的 Hacking Camp。本次活动将邀请 PingCAP 及合作伙伴提供导师，帮助项目团队一起制定合理的后续计划和商业方向，并将向社区公开阶段性成果。
			</p>
			<p class="hackathon2020__intro">第一期 Hacking Camp 结束后将由每支队伍的导师评估是否可以顺利毕业。所有毕业的团队队员将获得 TiDB 定制周边一份。</p>
		</div>
    </section>

	<section class="hackathon2020__section hackathon2020__section-winners">
		<h2 class="section__title" id="winners">第一期入围项目</h2>
		<p class="desc">第一期 Hacking Camp 共有 5 个项目入围，感兴趣的小伙伴可以点击加入队伍下方的交流群，共同为项目添砖加瓦。</p>
		<div class="list">
			{{- range $idx, $i := .Site.Data.hacking_camp_2021_s1.winners -}}
			<div class="winner-team hacking-camp">
				<div class="thumbnail">
					<img class="lazy thumbnail-img" data-original="{{ $i.thumbnail }}"
						src="/images/svgs/loader-spinner.svg" alt="team-avatar" />
					<p class="thumbnail-text j-thumbnailText-click">{{ $i.project_intro }}</p>
				</div>
				{{- partial "tidb-planet/modal" (dict "type" "schedule" "modal_img" $i.modal_img) -}}
				<div class="team-info">
					<p class="project-name">{{ $i.project_name }}</p>
				</div>
				<div class="misc">
					<div class="misc-btns">
						<a href="{{ $i.btn_link }}" target="_blank"><button class="GitHub-repo">{{ $i.btn_name }}</button></a>
						<a href="{{ $i.project_addr }}" target="_blank"><button class="GitHub-repo">项目地址</button></a>
					</div>
				</div>
			</div>
			{{- end -}}
		</div>
	</section>

	<section class="hackathon2020__section">
		<h2 class="section__title" id="timeline">Hacking Camp 时间线</h2>
		<div class="container">
			<ul class="moments">
				{{- range $idx, $i := .Site.Data.hacking_camp_2021_s1.moments -}}
				<li class="moment-item hacking-camp-moment">
					<div class="moment__milestone"><span class="spot"></span></div>
					<div class="moment__content">
						<p>{{ $i.date }}</p>
						<p>{{ $i.name }}</p>
					</div>
				</li>
				{{- end -}}
			</ul>
		</div>
	</section>

    <section class="hackathon2020__section">
        <h2 class="section__title" id="judges">Hacking Camp 导师团</h2>
        <div class="list-flex container">
            {{- range $idx, $i := .Site.Data.hacking_camp_2021_s1.judges -}}
                <div class="tutor-item hacking-camp">
                    <div class="tutor__avatar">
                        <img class="lazy" src="/images/svgs/loader-spinner.svg" data-original="{{ $i.avatar }}" alt="Tutor avatar" />
                    </div>
                    <div class="tutor__name hacking-camp">{{ $i.name }} | {{ $i.team_name }} </div>
                    <div class="tutor__title">{{ $i.word }}</div>
                </div>
            {{- end -}}
        </div>
    </section>

	<section class="hackathon2020__section">
		<h2 class="section__title" id="partners">赞助合作</h2>
		<h3 class="sponsor-type">独家冠名</h3>
        <div class="list-flex container partners-list hacking-camp">
			{{- range $idx, $i := .Site.Data.hacking_camp_2021_s1.exclusive -}}
				<a href="{{ $i.link }}" target="_blank" rel="noopener noreferrer">
					<img class="lazy exclusive" data-original="{{ $i.img }}" src="/images/svgs/loader-spinner.svg" alt="sponsor logo">
				</a>
            {{- end -}}
        </div>
		<h3 class="sponsor-type">协办方</h3>
        <div class="list-flex container partners-list hacking-camp">
			{{- range $idx, $i := .Site.Data.hacking_camp_2021_s1.sponsors1 -}}
				<a href="{{ $i.link }}" target="_blank" rel="noopener noreferrer">
					<img class="lazy {{ if $i.bigImg }}big-img{{ end }}" data-original="{{ $i.img }}" src="/images/svgs/loader-spinner.svg" alt="sponsor logo">
				</a>
            {{- end -}}
        </div>
		<h3 class="sponsor-type">支持企业及社区</h3>
        <div class="list-flex container partners-list hacking-camp">
			{{- range $idx, $i := .Site.Data.hacking_camp_2021_s1.sponsors2 -}}
				<a href="{{ $i.link }}" target="_blank" rel="noopener noreferrer">
					<img class="lazy" data-original="{{ $i.img }}" src="/images/svgs/loader-spinner.svg" alt="sponsor logo">
				</a>
            {{- end -}}
        </div>
	</section>


</div>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $('.lazy').lazyload({
      effect: 'fadeIn',
      threshold: 200
    })
</script>
<script type="text/javascript" src="/js/hacking_camp_2021s1.js"></script>
<script type="text/javascript" src="/js/community.js"></script>
{{- end -}}
