{{- define "headTpl" -}}
    <style type="text/css" media="screen">
        .st_tree {
            display: none;
        }
    </style>
    {{- partial "head/preload-css" (dict "href" "https://download.pingcap.com/style/github-markdown.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "nav_active" "community"}}
    {{$.Scratch.Set "data_i18_link" "https://angel.co/pingcap-1/jobs" }}
    {{ $.Scratch.Set "summary" "PingCAP 是一个年轻开放、崇尚自由的团队，集合了一群充满好奇心、有追求、技艺高超、梦想用科技改变世界的小伙伴。你，要加入进来么？" }}
{{- end -}}

{{- define "main" -}}
<div class="recruit-single">
    <div class="container">
        {{- partial "archives/sticky-tree.html" (dict "tree" .Site.Data.community_careers "title" "TiDB 社区生态企业职位") -}}
        <div class="archive">
            <div class="content">{{- .Content -}}</div>
            <div class="operate">
                <div class="item">
                    <a href="mailto:talents@tidb.io">
                    <i class="icon icon-mail">
                        {{ partial "svgs/icon-feedback.svg" (dict "fill" "#040000" "width" 24 "height" 24 ) }}
                    </i>投个简历吧：talents@tidb.io
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/doc.js"></script>
{{- end -}}
