{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "TechDay 2017" }}
    TechDay 2017
{{- end -}}

{{- define "headTpl" -}}
    {{ $.Scratch.Set "data_i18_cn" true }}
    {{ $.Scratch.Set "nav_active" "community" }}
    {{- partial "head/preload-css" (dict "href" "/css/community/techday.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/community/agenda.css") -}}
    {{ $.Scratch.Set "data_i18_link" "/community/organization" }}
    {{- partial "head/preload-css" (dict "href" "/css/vendor/swiper.css") -}}
{{- end -}}

{{- define "main" -}}
<div class="techday2017">
    <section class="banner__section techday2017-banner"></section>
    <section class="instructors__section section-dark-bg">
      <div class="instructors section-container">
        <h1 class="section-title">大咖讲师</h1>
        {{- partial "community-cn/instructors.html" (dict "instructors" .Site.Data.techday.instructors_2017 "type" "techday") -}}
      </div>
    </section>

    <section class="agenda__section">
        <h1 class="section-title">会议日程</h1>
        {{- partial "community-cn/schedule-table.html" (dict "schedule" .Site.Data.techday.schedule_2017 "global" .) -}}
    </section>

    <section class="section-dark-bg">
      <div class="section-container">
        <div class="container">
            <h2 class="section-title">精彩瞬间</h2>
            {{- partial "layout/multi_slides_carousel.html" (dict "moments_images" .Site.Data.techday.moments_2017) -}}
        </div>
      </div>
    </section>

    <section class="back-to-community-section">
        <a href="/community-cn/#activities">
            <button class="back-to-community">
              更多社区活动
            </button>
        </a>
    </section>
</div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/swiper.min.js"></script>
    <script type="text/javascript" src="/js/multi_slides_carousel.js"></script>
    <script type="text/javascript" src="/js/devcon.js"></script>
{{- end -}}
