{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "cloud"}}
    {{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
    <style>
        .hero .image {
            height: 6em;
        }

        .hero .hero__subheading {
            font-size: 1.6em;
        }
    </style>
    {{ $.Scratch.Set "metaTitle" "TiDB" }}
{{- end -}}

{{- define "main" -}}
    {{ $headingLogo := "/images/tidb-cloud-logo.png" }}
    {{ $subheading := "Sign Up" }}
    <div class="contact-us">
        {{- partial "layout/hero.html" (dict "headingLogo" $headingLogo "subheading" $subheading) -}}
        <div class="container" style="padding: 0 1rem; min-height: 700px;">
          <div class="desc">
              To sign up for TiDB Cloud, managed as a service by PingCAP, please fill out the form below. A member from our customer
              success engineering team will reach out via email in the next 24 hours.
          </div>
          <div class="contact-form" style="max-width: 500px;">
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create( {
                    portalId: "4466002",
                    formId: "bf9451b5-8816-4a95-947c-1aae656830f5"
                });
              </script>
          </div>
        </div>
    </div>
{{- end -}}
