{{- define "title" -}}
    {{ $.Scratch.Set "metaTitle" "Meetup" }}
    Meetup
{{- end -}}

{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "community"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/list.css") -}}
    {{ $.Scratch.Set "summary" "我们相信对技术的追求和对开源的热爱把你带到了这里。欢迎加入 TiDB 社区，和我们一起开启一段精彩的旅程。" }}
{{- end -}}

{{- define "main" -}}
    <div class="blog">
        <div class="container">
        {{ $meetup_memoir := where (where (where .Site.Pages "Section" "meetup") ".Params.meetup_type" "!=" nil) ".Params.meetup_type" "==" "memoir"}}
        {{- partial "navs/tags-nav.html" (dict "type" "list" "title" "热门标签" "posts" $meetup_memoir "prefixHref" "/meeting/recording/" "global" . ) -}}
        {{- partial "archives/list.html" (dict "posts" $meetup_memoir.ByDate.Reverse "hasMetaData" "true" "hasBrief" "true" "global" .) -}}
        </div>
    </div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/doc.js"></script>
{{- end -}}
