<div class="download-instruction">
    <div class="ins-env-icon">
        <img src="{{ .imgSRC }}" alt="icon"/>
    </div>

    <div class="install-method">Homebrew install instructions <span>{{ if eq .type "windows" }}(via Windows Subsystem for
        Linux){{ else }}(Recommended){{ end }}</span>:
        <ol>
            <li>
                <p>Install <a class="homebrew-install" href="https://brew.sh/">Homebrew</a></p>
            </li>
            <li>
                <p>Install TiDB</p>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">brew tap pingcap/brew</code></pre>
                </div>
                <div class="highlight">
                      <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                      class="language-bash" data-lang="bash">brew install tidb-server</code></pre>
                </div>
            </li>
            <li>
                <p>Start TiDB</p>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">tidb-server</code></pre>
              </div>
            </li>
            <li>
                <p>If you would like to connect a MySQL client to TiDB</p>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">brew install mysql-client</code></pre>
              </div>
              <div class="highlight">
                <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">mysql -h 127.0.0.1 -P4000 -uroot</code></pre>
              </div>
            </li>
        </ol>
    </div>

    {{- if ne .type "windows" -}}
    <div class="install-method">DBdeployer instructions:
        <ol>
            <li>
                <p>Install <a class="homebrew-install" href="https://github.com/datacharmer/dbdeployer#Installation">DBdeployer</a></p>
            </li>
            {{- if eq .type "mac" -}}
            <li>
                <p>Install MySQL 5.7</p>
                <div class="highlight">
                    <pre
                      style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">curl -LO https://dev.mysql.com/get/Downloads/MySQL-5.7/mysql-5.7.25-macos10.14-x86_64.tar.gz</code></pre>
                </div>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer unpack mysql-5.7.25-macos10.14-x86_64.tar.gz</code></pre>
                </div>
            </li>
            <li>
                <p>Install TiDB</p>
                <div class="highlight">
                    <pre
                      style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">curl -O https://download.pingcap.org/tidb-master-darwin-amd64.tar.gz</code></pre>
                </div>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer unpack mysql-5.7.25-macos10.14-x86_64.tar.gz</code></pre>
                </div>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer deploy single 3.0.0 --client-from=5.7.25</code></pre>
                </div>
            </li>
            {{- else if eq .type "linux" -}}
            <li>
                <p>Install MySQL 5.7</p>
                <div class="highlight">
                    <pre
                      style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer remote get mysql-5.7.25</code></pre>
                </div>
                <div class="highlight">
                    <pre
                      style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer unpack mysql-5.7.25.tar.xz</code></pre>
                </div>
            </li>
            <li>
                <p>Install TiDB</p>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">wget https://download.pingcap.org/tidb-master-linux-amd64.tar.gz</code></pre>
                </div>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer unpack tidb-master-linux-amd64.tar.gz --unpack-version=3.0.0</code></pre>
                </div>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code
                    class="language-bash" data-lang="bash">dbdeployer deploy single 3.0.0 --client-from=5.7.25</code></pre>
                </div>
            </li>
        {{- end -}}
      </ol>
    </div>
    {{- end -}}
</div>
