<aside class="aside-menu">
    <ul class="menu__list">
        <li><a href="https://careers.pingcap.com" target="_blank" {{ if eq .active "working"}}class="active"{{ end }}><div>{{ partial "svgs/icon-working.svg" }}</div><div>Working At PingCAP</div></a></li>
        <li><a href="https://careers.pingcap.com" target="_blank" onclick="trackViews('aside-menu-recruit-join', 'recruit-join_view')"
            {{ if eq .active "join"}}class="active" {{ end }}>
            <div>{{ partial "svgs/icon-join.svg" }}</div>
            <div>Join PingCAP</div>
          </a></li>
        <!-- <li><a href="/recruit/qa/" {{ if eq .active "qa"}}class="active"{{ end }}><div>{{ partial "svgs/icon-qa.svg" }}</div><div>Q &AMP; A</div></a></li> -->
    </ul>
</aside>
