+---------+-----------------------------------------------------------------------------+
| date    | event                                                                       |
+---------+-----------------------------------------------------------------------------+
| 2019.7  | TiDB Operator 1.0 release                                                   |
| 2019.6  | TiDB 3.0 release, TiDB + TiKV 25000+ Stars, 430+ Contributors               |
| 2019.6  | TiDB User Group formally established                                        |
| 2019.5  | CNCF TOC voted to accept TiKV as an incubation-level hosted project         |
| 2019.5  | TiDB Binlog became Open Source on GitHub                                    |
| 2019.1  | TiDB Lightning Toolset and TiDB Data Migration became Open Source on GitHub |
| 2018.9  | $50M C Round led by FOSUN and Morningside Venture Capital                   |
| 2018.8  | TiDB Operator became Open Source on GitHub                                  |
| 2018.8  | TiKV was accepted by CNCF as a Sandbox project                              |
| 2018.7  | TiDB was included in the Big Data & AI Landscape 2018 from FirstMark        |
| 2018.6  | Cloud-TiDB became available on JDCloud.com                                  |
| 2018.4  | TiDB 2.0 release, TiDB + TiKV 16000+ Stars, 240+ Contributors               |
| 2017.11 | PingCAP planted its Seed in Silicon Valley                                  |
| 2017.10 | TiDB 1.0 release, TiDB + TiKV 13000+ Stars, 200+ Contributors               |
| 2017.6  | $15M B Round from CGC / Matrix China / YunQi / FreeS / K2VC                 |
| 2016.8  | A Round from YunQi / Matrix China / FreeS / ChuXin                          |
| 2016.4  | TiKV became Open Source on GitHub                                           |
| 2015.9  | TiDB became Open Source on GitHub                                           |
| 2015.5  | First line of code for TiDB                                                 |
| 2015.4  | Seed Round from Matrix China / K2VC                                         |
+---------+-----------------------------------------------------------------------------+
<span>20 rows in set (0.00 sec)</span>
