<div class="timeline-wrapper">
    <!--first section-->
    <div class="row align-items-center how-it-works">
        <div class="col-2 f-tc bottom">
            <div class="circle">1</div>
        </div>
        <div class="col-10">
            <h3>Step 1: 申请职位</h3>
            <ul class="f-tf">
                <li><a href="#positions">选择你感兴趣的职位（持续更新中）</a></li>
                <li>投递简历到 <a href="mailto:talents@tidb.io">talents@tidb.io</a></li>
            </ul>
        </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner top-right"></div>
        </div>
        <div class="col-8">
            <span class="line"></span>
        </div>
        <div class="col-2">
            <div class="corner left-bottom"></div>
        </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-10 f-tr">
            <h3>Step 2: 进行面试</h3>
            <p class="f-tf">
                TiDB 社区收到简历后，将直接推荐至 TiDB 生态企业业务需求部门（绿色通道，直达面试官；多职位备选，提高就业成功率），由生态企业推进面试流程；我们也欢迎自荐或者推荐朋友，进入面试流程将获得 TiDB
                周边礼品。
            </p>
        </div>
        <div class="col-2 f-tc full">
            <div class="circle">2</div>
        </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
            <span class="line"></span>
        </div>
        <div class="col-2">
            <div class="corner top-left"></div>
        </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
        <div class="col-2 f-tc top">
            <div class="circle">3</div>
        </div>
        <div class="col-10">
            <h3>Step 3: 成功入职</h3>
            <p class="f-tf">成功入职 TiDB 生态企业的小伙伴，将获得价值 2 万元的 TiDB 培训课程，助你提升 TiDB 技能。</p>
        </div>
    </div>
</div>
